<script type="text/javascript">
    $(function () {
        $("#accordion").accordion({
            fillSpace: false
        });
    });
</script>
<div id="PartailApplyListForUser">
    <div id="accordion">
        @{
            var list = ViewData["applyList"] as TeacherTitle.DAL.Model.ActAndClaHourModel[];
            if (list.Length != 0)
            {
                for (int i = 0; i < list.Length; i++)
                { 
            <h3>
                <a href="#">@Html.Encode(list[i].ActTheme)<span style="float: right;">[@Html.Encode(DateTime.Parse(list[i].ActReleaseTime).ToString("yyyy-MM-dd"))]</span></a></h3>
            <div>
                <div class="editor-label">
                    @Html.Label("活动形式：")
                    @Html.Label(list[i].ActForm.Value)
                </div>
                <div class="editor-label">
                    @Html.Label("活动主题：")
                    @Html.Label(list[i].ActTheme)
                </div>
                <div class="editor-label">
                    @Html.Label("主讲人：")
                    @Html.Label(list[i].ActSpeaker)
                </div>
                <div class="editor-label">
                    @Html.Label("开始时间：")
                    @Html.Label(list[i].ActStart)
                </div>
                <div class="editor-label">
                    @Html.Label("结束时间：")
                    @Html.Label(list[i].ActEnd)
                </div>
                <div class="editor-label">
                    @Html.Label("取得学时：")
                    @if (list[i].ClassHour == null)
                    {
                        @Html.Label("还未取得")
                    }
                    else
                    {
                        @Html.Label(list[i].ClassHour)
                    }
                </div>
                <div class="editor-label">
                    @Html.Label("取得时间：")
                    @if (list[i].GetTime == null)
                    {
                        @Html.Label("还未取得")
                    }
                    else
                    {
                        @Html.Label(list[i].GetTime)
                    }
                </div>
            </div> 
                }
            }
            else
            {
            <h3>
                <a href="#"></a>
            </h3>
            <div>
                无数据</div>
            }
            
        }
    </div>
</div>
