<div id="PartailApplyFinishTable">
    @{
        var list = ViewData["PerApplyFinishList"] as TeacherTitle.DAL.Model.ActAndClaHourModel[];
    }
    <table border="1">
        <tr>
            <th>
                编号
            </th>
            <th>
                活动主题
            </th>
            <th>
                主讲人
            </th>
            <th>
                开始时间
            </th>
            <th>
                结束时间
            </th>
            <th>
                活动地点
            </th>
            <th>
                发布时间
            </th>
            <th>
                申请人
            </th>
            <th>
                获得学时
            </th>
            <th>
                操作
            </th>
        </tr>
        @if (list.Length == 0)
        {
            <tr>
                <td align="center" colspan="10">
                    当前无数据
                </td>
            </tr>
        }
        else
        {
            for (int i = 0; i < list.Length; i++)
            {
            <tr>
                <td>
                    @Html.Encode((i + 1))
                    @Html.Hidden("ASUCode", list[i].SignUpCode)
                </td>
                <td>
                    @Html.Label(list[i].ActTheme)
                </td>
                <td>
                    @Html.Label(list[i].ActSpeaker)
                </td>
                <td>
                    @Html.Label(list[i].ActStart)
                </td>
                <td>
                    @Html.Label(list[i].ActEnd)
                </td>
                <td>
                    @Html.Label(list[i].ActPlace)
                </td>
                <td>
                    @Html.Label(list[i].ActReleaseTime)
                </td>
                <td>
                    @Html.Label(list[i].UserCode.Value)
                </td>
                <td>
                    @Html.TextBox("ClassHour", list[i].ClassHour)
                </td>
                <td>
                    <input type="button" value="修改" ASUCode="@list[i].SignUpCode" onclick="return setUrl('ApplyFinishTable','Activity',this);" />
                </td>
            </tr>
            }
        }
    </table>
</div>
