<script type="text/javascript">
    function submitApply() {
        if ($("#U_Code", $("#LogOnDiv")).val() == undefined) {
            $("#ui_dialog").html("请登录");
            $('#ui_dialog').dialog({ modal: true, show: 'blind', hide: 'explode', resizable: false });
        }
        else {
            if ($("#U_Code", $("#LogOnDiv")).val() == "1") {
                $("#ui_dialog").html("管理员不能报名");
                $('#ui_dialog').dialog({ modal: true, show: 'blind', hide: 'explode', resizable: false });
            }
            else {
                $("#_U_Code", $("#PartialApplyActivity")).val($("#U_Code", $("#LogOnDiv")).val());
                $("#AddActivityForm").submit();
            }
        }
    }

    function ApplyActivityCallBack(data) {
        if (data.Flag) {
            var AP_Left = parseInt($("#AP_Left").html());
            if (AP_Left == 0) {
                var AP_CandidateLeft = parseInt($("#AP_CandidateLeft").html());
                $("#AP_CandidateLeft").html(AP_CandidateLeft - 1);
            }
            else
                $("#AP_Left").html(AP_Left - 1);
        }

        $("#ui_dialog").html(data.Msg);
        $('#ui_dialog').dialog({
            modal: true,
            show: 'blind',
            hide: 'explode',
            resizable: false,
            title: "提示"
        });
    }
</script>
@{
    var list = ViewData["ActivityDetail"] as TeacherTitle.DAL.Model.ActivityPlanModels;
}
<div id="PartialApplyActivity">
    <div class="i_container clearfix">
        <div class="p_left">
            <div class="i_news02" id="com_indexistop_news" editok="online">
                <div class="title02">
                    <h3>
                        个人中心
                    </h3>
                </div>
                <div class="i_news04_l">
                </div>
            </div>
            <div class="i_news03">
                <div class="title03">
                    <h3>
                        教学管理</h3>
                </div>
                <div class="i_news03_l">
                </div>
            </div>
            <div class="newbottom_01">
            </div>
        </div>
        <div class="p_right">
            <div class="p_r_t">
                <h3>
                    @list.Plan.AP_Theme</h3>
                <div class="p_path">
                    当前位置 ：@Ajax.ActionLink("活动公告列表", "ActivityContent", "Home", null, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)&gt;
                    <a id="position_nowtitle">活动公告详情</a></div>
            </div>
            <div class="p_news">
                <h1 class="p_n_title">
                    @list.Plan.AP_Theme</h1>
                <div class="p_n_info">
                    发表日期：<span>@list.Plan.AP_ReleaseTime</span></div>
                <div class="p_news_center">
                    <div class="p_news_center_ul">
                        <ul>
                            <li>@Html.Label("活动形式：")<span>@Html.Encode(ViewData["ActForm"] as string)</span>
                            </li>
                            <li>@Html.Label("主 讲 人：")<span>@Html.Encode(list.Plan.AP_Speaker) </span></li>
                            <li>@Html.Label("活动主题：")<span>@Html.Encode(list.Plan.AP_Theme)</span> </li>
                            <li>@Html.Label("活动地点：")<span>@Html.Encode(list.Plan.AP_Place)</span></li>
                            <li>@Html.Label("开始时间：")<span>@Html.Encode(list.Plan.AP_StartTime)</span></li>
                            <li>@Html.Label("结束时间：")<span>@Html.Encode(list.Plan.AP_EndTime)</span> </li>
                            <li>@Html.Label("限制名额：")<span>@Html.Encode(list.Plan.AP_Limit.ToString()) </span>
                            </li>
                            <li>@Html.Label("剩余名额：")<span id="AP_Left">@Html.Encode(list.Plan.AP_Left.ToString())</span></li>
                            <li>@Html.Label("候选名额：")<span>@Html.Encode(list.Plan.AP_Candidate.ToString()) </span>
                            </li>
                            <li>@Html.Label("剩余名额：")<span id="AP_CandidateLeft">@Html.Encode(list.Plan.AP_CandidateLeft.ToString())
                            </span></li>
                            <li>学&nbsp;&nbsp;&nbsp;&nbsp;时：<span>@Html.Encode(list.Plan.AP_ClassHour)
                            </span></li>
                            <li>状&nbsp;&nbsp;&nbsp;&nbsp;态：<span>@Html.Encode(list.Plan.AP_StatusValue)</span>
                            </li>
                            <li>附&nbsp;&nbsp;&nbsp;&nbsp;件：@for (int i = 0; i < list.Attachment.Length; i++)
                                                           {
                                <span>@Html.ActionLink(list.Attachment[i].AA_Name, "DownloadFile", new { AA_Code = list.Attachment[i].AA_Code })</span>
                                                           }</li>
                            <li>操&nbsp;&nbsp;&nbsp;&nbsp;作：<span>
                                <div class="button">
                                    @using (Ajax.BeginForm("ApplyActivity", "Activity", null, new AjaxOptions { OnSuccess = "ApplyActivityCallBack(data);" }, new { id = "AddActivityForm" }))
                                    {
                                        @Html.Hidden("apCode", list.Plan.AP_Code)
                                        <input type="hidden" id="_U_Code" name="_U_Code" value="" />
                                        <input type="button" value="报名" onclick="submitApply();" />
                                    }</div>
                            </span></li>
                        </ul>
                    </div>
                </div>
                <div class="prevnext">
                    @{
                        var last = ViewData["last"] as TeacherTitle.DAL.DB.ActivityPlan;
                        var next = ViewData["next"] as TeacherTitle.DAL.DB.ActivityPlan;
                    }
                    @if (last != null && next != null)
                    {
                        <span class="prevrecord">上一条:@Ajax.ActionLink(last.AP_Theme, "ApplyActivity", "Activity", new { apCode = last.AP_Code }, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)
                        </span><span class="nextrecord">下一条:<a title="" href="#">@Ajax.ActionLink(next.AP_Theme, "ApplyActivity", "Activity", new { apCode = next.AP_Code }, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)</a></span>
                    }
                    else if (last == null && next != null)
                    { 
                        <span class="nextrecord">下一条:<a title="" href="#">@Ajax.ActionLink(next.AP_Theme, "ApplyActivity", "Activity", new { apCode = next.AP_Code }, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)</a></span>
                    }
                    else if (next == null && last != null)
                    { 
                        <span class="prevrecord">上一条:@Ajax.ActionLink(last.AP_Theme, "ApplyActivity", "Activity", new { apCode = last.AP_Code }, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)</span>
                    }
                </div>
            </div>
            <div class="newbottom_02">
            </div>
        </div>
    </div>
</div>
