<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>@ViewBag.Title</title>
    <script src="../../Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>
    <link href="@Url.Content("~/Plug-in/css/common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plug-in/css/ddsmoothmenu.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Plug-in/js/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Plug-in/js/time.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Plug-in/js/public.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.basic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <!--时间插件-->
    <script src="@Url.Content("~/Plug-in/calendar/_doc/prettify/prettify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Plug-in/calendar/lhgcalendar.js")" type="text/javascript"></script>
    <!--UI-->
    <script src="@Url.Content("~/Plug-in/jquery-ui-1.8.16/ui/jquery-ui.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Plug-in/jquery-ui-1.8.16/themes/base/jquery.ui.all.css")" rel="stylesheet"
        type="text/css" />
    <!--上传插件-->
    <script src="@Url.Content("~/Plug-in/jquery.uploadify-v2.1.4/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Plug-in/jquery.uploadify-v2.1.4/jquery.uploadify.v2.1.4.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Plug-in/jquery.uploadify-v2.1.4/uploadify.css")" rel="stylesheet"
        type="text/css" />
    <!--表格插件-->
    <link href="@Url.Content("~/Plug-in/flexigrid-1.1/css/flexigrid.pack.css")" rel="stylesheet"
        type="text/css" />
    <script src="@Url.Content("~/Plug-in/flexigrid-1.1/js/flexigrid.js")" type="text/javascript"></script>
    <!--提示插件-->
    <link href="../../Plug-in/poshytip-1.0/poshytip-1.0/src/tip-darkgray/tip-darkgray.css"
        rel="stylesheet" type="text/css" />
    <script src="../../Plug-in/poshytip-1.0/poshytip-1.0/src/jquery.poshytip.js" type="text/javascript"></script>
    <script type="text/javascript">
        function resetUrl(action, home, UpdateTargetId, tag) {
            var route = $("#U_Code").val();
            if (route == undefined) {
                $("#ui_dialog").html("请登录");
                $('#ui_dialog').dialog({
                    modal: true,
                    show: 'blind',
                    hide: 'explode',
                    resizable: false,
                    title: "提示"
                });
            }
            else {
                var Url = "/" + home + "/" + action;
                $.ajax({
                    type: "GET",
                    url: Url,
                    data: { "U_Code": route },
                    success: function (data) {
                        $("#" + UpdateTargetId).html(data);
                    }
                });

                var path1 = $($(tag).parent().parent().parent().children()[0]).children().html();
                var path2 = $(tag).children().html();
                $("#AdmPageStatus").children("h3").html(path1);
                $("#position_nowtitle").html(path2);
            }
        }

        function setUrl(action, home, tag) {
            var route = $("#U_Code").val();
            if (route == undefined) {
                $("#ui_dialog").html("请登录");
                $('#ui_dialog').dialog({
                    modal: true,
                    show: 'blind',
                    hide: 'explode',
                    resizable: false,
                    title: "提示"
                });
            }
            else {
                var Url = "/" + home + "/" + action;
                var ASU_Code = $(tag).attr("ASUCode");
                var ClassHour = $(tag).parent().parent().find("input[id=ClassHour]").val();
                $.ajax({
                    type: "POST",
                    url: Url,
                    data: { "ASUCode": ASU_Code, "ClassHour": ClassHour },
                    success: function (data) {
                        $("#ui_dialog").html(data.Msg);
                        $('#ui_dialog').dialog({
                            modal: true,
                            show: 'blind',
                            hide: 'explode',
                            resizable: false,
                            title: "提示"
                        });
                    }
                });
            }
        }


        function checkCondition() {
            var route = $("#U_Code").val();
            if (route == undefined) {
                $("#ui_dialog").html("请登录");
                $('#ui_dialog').dialog({
                    modal: true,
                    show: 'blind',
                    hide: 'explode',
                    resizable: false,
                    title: "提示"
                });
                return false;
            }
            else {
                return true;
            }
        }

        //        window.onbeforeunload = function () {

        //            alert($("#U_Code").val());
        //            var ucode = $("#U_Code").val();
        //            if (ucode != undefined) {
        //                location.href = "/Home/Index?U_Code=" + ucode;
        //                return false;
        //            }
        //        }
    </script>
</head>
<body>
    <div class="header mauto clearfix">
        <div class="topline" id="LogOnDiv">
            @{
                Html.RenderAction("LogOn", "Account");
            }
        </div>
        <div class="topbar">
            <div class="logo">
                <a href="#">
                    <img src="@Url.Content("~/Plug-in/images/logo.png")" alt="logo" />
                </a>
            </div>
            <div class="outlink">
                <ul>
                    <li><a class="ol01" href="http://www.wzmc.net/web/" target="_blank">温医首页</a></li>
                    <li><a class="ol02" href="http://jwc.wzmc.edu.cn/" target="_blank">温医教务处</a></li>
                    <li><a class="ol03" href="http://lib.wzmc.edu.cn/" target="_blank">温医图书馆</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav mauto clearfix">
        <div class="ddsmoothmenu">
            <ul>
                <li class="navline">@Ajax.ActionLink("首页", "Main", "Home", null, new AjaxOptions { UpdateTargetId = "containerDiv" }, new { id = "returnToIndex", @class = "nava_selected" })</a>
                </li>
                <li class="navline"><a href="#" class="nava">教学管理</a>
                    <ul>
                        <li><a href="#">课程建设</a> <a href="#">实践教学</a> <a href="#">选课系统</a> </li>
                    </ul>
                </li>
                <li class="navline"><a href="#" class="nava">教务信息化</a> </li>
                <li class="navline"><a href="#" class="nava">教学管理</a> </li>
                <li class="navline"><a href="#" class="nava">最新公告</a> </li>
                <li class="navline"><a href="#" class="nava">科研成果</a> </li>
                <li class="navline"><a href="#" class="nava">教学质量监控</a> </li>
                <li class="navline"><a href="#" class="nava">图片新闻</a> </li>
                <li><a href="#" class="nava">活动公告</a> </li>
            </ul>
        </div>
    </div>
    @*<div class="i_nav mauto clearfix" id="com_mainmenu">
        <div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
                <li class="navline"></li>
                <li class="navline"><a href="http://www.baidu.com" class="nava">教学管理</a>
                    <ul>
                        <li><a href="#">课程建设</a> <a href="#">实践教学</a> <a href="#">选课系统</a> </li>
                    </ul>
                </li>
                <li class="navline"><a href="#" class="nava">教务信息化</a> </li>
                <li class="navline"><a href="#" class="nava">教学管理</a> </li>
                <li class="navline"><a href="#" class="nava">最新公告</a> </li>
                <li class="navline"><a href="#" class="nava">科研成果</a> </li>
                <li class="navline"><a href="#" class="nava">教学质量监控</a> </li>
                <li class="navline"><a href="#" class="nava">图片新闻</a> </li>
                <li><a href="#" class="nava">最新信息</a> </li>
            </ul>
        </div>
    </div>*@
    <div class="navb mauto clearfix">
    </div>
    <div class="i_container clearfix" id="containerDiv">
        @RenderBody()
    </div>
    <div class="footer mauto clearfix">
        <div class="footer_nav">
            <div class="footer_nav_l" id="com_othermenu" editok="online">
                <a href="#" class="othermenu_a">教学管理</a> <a href="#" class="othermenu_a">选课系统</a>
                <a href="#" class="othermenu_a">最新信息</a> <a href="#" class="othermenu_a">课程建设</a>
                <a href="#" class="othermenu_a">教学质量监控</a> <a href="#" class="othermenu_a" target="_blank">
                    All-Link</a>
            </div>
            <div class="footer_link" id="com_indexistop_alinks" editok="online">
                <select name="index_links" onchange="open_alinkurl('',this)">
                    <option value="" selected="selected">友情链接 </option>
                    <option value="http://www.baidu.com">baidu</option>
                    <option value="http://www.baidu.com">baidu</option>
                    <option value="http://www.baidu.com">baidu</option>
                    <option value="http://www.baidu.com">baidu</option>
                    <option value="http://www.baidu.com">baidu</option>
                    <option value="http://www.baidu.com">baidu</option>
                    <option value="http://www.baidu.com">baidu</option>
                    <option value="http://www.baidu.com">baidu</option>
                </select>
            </div>
        </div>
        <div class="copyright" id="com_copyright" editok="online">
            <div id="com_copyright" editok="online">
                Copyright &copy; 2012-2013 温州医科大学
            </div>
        </div>
    </div>
    <div id="ui_dialog" style="display: none;">
    </div>
    <div id="ui_dialog_button" style="display: none;">
    </div>
    <form action="" method="post" id="DownLoadForm" style="display: none;">
    </form>
</body>
</html>
