<script type="text/javascript">
    $(function () {
        var target = $("#PartailUserApplyActivity");
        $("#ActStartTime", target).calendar({ format: 'yyyy-MM-dd  HH:mm', maxDate: '#ActEndTime' });
        $("#ActEndTime", target).calendar({ format: 'yyyy-MM-dd  HH:mm', minDate: '#ActStartTime' });
        onlyNum($("#ActLimit", target));
        onlyNum($("#ActCandidate", target));
    })
</script>
<div id="PartailUserApplyActivity">
    @using (Ajax.BeginForm("UserApplyActivity", "Account", new { U_Code = ViewData["U_Code"] }, new AjaxOptions { UpdateTargetId = "releaseNews" }, new { id = "AddActivityForm" }))
    {
        <table class="myTable" cellpadding="2px" cellspacing="2px">
            <tr>
                <td>
                    @Html.Label("活动形式")
                </td>
                <td>
                    @Html.DropDownList("ActForm", ViewData["AllActForm"] as SelectList, new { @class = "text-long", style = "width:280px;" })
                    @Html.ValidationMessage("ActForm")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("主办方")
                </td>
                <td>
                    @Html.TextBox("ActSpeaker", null, new { @class = "text-long" })
                    @Html.ValidationMessage("ActSpeaker")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("活动主题")
                </td>
                <td>
                    @Html.TextArea("ActTheme", null, new { @class = "text-long", rows = "5", style = " min-width:264px;max-width:264px;min-height:110px;max-height:110px; overflow:auto;" })
                    @Html.ValidationMessage("ActTheme")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("活动地点")
                </td>
                <td>
                    @Html.TextBox("ActPlace", null, new { @class = "text-long" })
                    @Html.ValidationMessage("ActPlace")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("学年：")
                </td>
                <td>
                    @Html.DropDownList("ActSchoolYear", ViewData["Year"] as SelectList, new { @class = "text-long", style = "width:280px;" })
                    @Html.ValidationMessage("ActSchoolYear")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("参与开始时间")
                </td>
                <td>
                    @Html.TextBox("ActStartTime", null, new { @class = "runcode", @readonly = "readonly" })
                    @Html.ValidationMessage("ActStartTime")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("参与结束时间")
                </td>
                <td>
                    @Html.TextBox("ActEndTime", null, new { @class = "runcode", @readonly = "readonly" })
                    @Html.ValidationMessage("ActEndTime")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("学时")
                </td>
                <td>
                    @Html.TextBox("ActClassHour", null, new { @class = "text-long" })
                    @Html.ValidationMessage("ActClassHour")
                </td>
            </tr>
        </table>
        <div style="padding-left: 150px; padding-top: 10px;">
            @Html.Partial("_UploadPartail")
        </div>
        
        <div class="button" style="padding-left: 150px;">
            <input type="submit" value="提交" onclick="return checkCondition();" />
        </div>
    }
</div>
