<script type="text/javascript">
    function endSignUp(tag) {
        var AP_Code = $(tag).attr("para");
        $.ajax({
            type: "POST",
            url: "/Adm/Activiting",
            data: { "AP_Code": AP_Code },
            success: function (data) {
                $("#releaseNews").html(data);
            }
        });
    }
</script>
<div id="PartailActivityManage">
    @{
        var list = ViewData["ActiveList"] as TeacherTitle.DAL.DB.ActivityPlan[];
    }
    <table border="1">
        <tr>
            <th>
                活动主题
            </th>
            <th>
                主讲人
            </th>
            <th>
                开始时间
            </th>
            <th>
                结束时间
            </th>
            <th>
                活动地点
            </th>
            <th>
                限制人数
            </th>
            <th>
                剩余限制名额
            </th>
            <th>
                候选名额
            </th>
            <th>
                剩余候选名额
            </th>
            <th>
                发布时间
            </th>
            <th>
                状态
            </th>
            <th>
                操作
            </th>
        </tr>
        @if (list.Length == 0)
        {
            <tr>
                <td align="center" colspan="12">
                    当前无数据
                </td>
            </tr>
        }
        else
        {
            for (int i = 0; i < list.Length; i++)
            {
            <tr>
                <td>
                    @Html.Label(list[i].AP_Theme)
                </td>
                <td>
                    @Html.Label(list[i].AP_Speaker)
                </td>
                <td>
                    @Html.Label(list[i].AP_StartTime)
                </td>
                <td>
                    @Html.Label(list[i].AP_EndTime)
                </td>
                <td>
                    @Html.Label(list[i].AP_Place)
                </td>
                <td>
                    @Html.Label(list[i].AP_Limit.ToString())
                </td>
                <td>
                    @Html.Label(list[i].AP_Left.ToString())
                </td>
                <td>
                    @Html.Label(list[i].AP_Candidate.ToString())
                </td>
                <td>
                    @Html.Label(list[i].AP_CandidateLeft.ToString())
                </td>
                <td>
                    @Html.Label(list[i].AP_ReleaseTime)
                </td>
                <td>
                    @Html.Label(list[i].AP_StatusValue)
                </td>
                <td>
                    <input type="button" value="结束报名" para="@list[i].AP_Code" onclick="endSignUp(this);" />
                </td>
            </tr>
            }
        }
    </table>
</div>
