<script type="text/javascript">
    $(function () {
        $("#ActStartTime").calendar({
            format: 'yyyy-MM-dd  HH:mm',
            maxDate: '#ActEndTime'
        });
        $("#ActEndTime").calendar({
            format: 'yyyy-MM-dd  HH:mm',
            minDate: '#ActStartTime'
        });
        onlyNum($("#ActLimit"));
        onlyNum($("#ActCandidate"));
    });
</script>
<div id="PartialAddActivity">
    @using (Ajax.BeginForm("AddActivity", "Adm", null, new AjaxOptions { UpdateTargetId = "releaseNews" }, new { id = "AddActivityForm" }))
    {
        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.Label("活动形式")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("ActForm", ViewData["AllActForm"] as SelectList)
                        @Html.ValidationMessage("ActForm")
                    </div>
                    <div class="editor-label">
                        @Html.Label("主讲人")
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ActSpeaker")
                        @Html.ValidationMessage("ActSpeaker")
                    </div>
                    <div class="editor-label">
                        @Html.Label("活动主题")
                    </div>
                    <div class="editor-field">
                        @Html.TextArea("ActTheme", new { rows = "5", style = " min-width:200px;max-width:200px;min-height:110px;max-height:110px; overflow:auto;" })
                        @Html.ValidationMessage("ActTheme")
                    </div>
                    <div class="editor-label">
                        @Html.Label("活动地点")
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ActPlace", null, new { rows = "1", style = "width:200px;" })
                        @Html.ValidationMessage("ActPlace")
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <div class="editor-label">
                        @Html.Label("开始时间")
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ActStartTime", null, new { @class = "runcode", @readonly = "readonly" })
                        @Html.ValidationMessage("ActStartTime")
                    </div>
                    <div class="editor-label">
                        @Html.Label("结束时间")
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ActEndTime", null, new { @class = "runcode", @readonly = "readonly" })
                        @Html.ValidationMessage("ActEndTime")
                    </div>
                    <div class="editor-label">
                        @Html.Label("限制人数")
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ActLimit")
                        @Html.ValidationMessage("ActLimit")
                    </div>
                    <div class="editor-label">
                        @Html.Label("候选人数")
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ActCandidate")
                        @Html.ValidationMessage("ActCandidate")
                    </div>
                </td>
                <td>
                    @Html.Partial("_UploadPartail")
                    <div class="editor-field">
                        <input type="submit" value="提交" onclick="return checkCondition();" />
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
