@model TeacherTitle.Models.SearchClassHourModelsl
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Adm/TeacherTable",
            success: function (data) {
                $("#searchCriteria").append(data);
            }
        });

        $("#Teacher").dblclick(function () {
            $("#PartailTeacherTable").css("display", "");
        });


        $("#StartTime").calendar({
            format: 'yyyy-MM-dd',
            maxDate: '#EndTime'
        });
        $("#EndTime").calendar({
            format: 'yyyy-MM-dd',
            minDate: '#StartTime'
        });

        $("#Teacher").bind("input.autocomplete", function () {
            $(this).trigger('keydown.autocomplete');
        });

        $("#Teacher", $("#PartailSearchCriteria")).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Account/GetUsers",  //要查询的Action
                    type: "POST",  //Post提交
                    dataType: "json", //json格式数据，默认是text
                    data: { "keyword": request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Key }; //将返回的jsonresult的属性赋值给autocomplete item
                        }))
                    }
                })
            },
            select: function (event, ui) {
                //$("#TeacherValue").val(ui.item.label);
                $("#Teacher").val(ui.item.label);
                return false;
            },
            minLength: '0'
        });


    });
</script>
<div id="PartailSearchCriteria">
    <div id="searchCriteria">
        @using (Ajax.BeginForm("ActAndTeacherList", "Adm", null, new AjaxOptions { UpdateTargetId = "searchResult" }, null))
        {
            <table class="myTable" cellpadding="2px" cellspacing="2px">
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Teacher)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.Teacher, new { @class = "text-long" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Account)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.Account, new { @class = "text-long" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Institute)
                    </td>
                    <td>
                        @Html.DropDownListFor(Model => Model.Institute, ViewData["AllInstitute"] as SelectList, new { @class = "text-long", style = "width:280px;" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.StartTime)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.StartTime, new { @class = "runcode", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.EndTime)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.EndTime, new { @class = "runcode", @readonly = "readonly" })
                    </td>
                </tr>
            </table>
            <div class="button" style="padding-left: 150px;">
                <input type="submit" value="查询" />
            </div>
        }
    </div>
    <div id="searchResult">
    </div>
</div>
