@model TeacherTitle.Models.RegisterModel
<script type="text/javascript">
    $(function () {
        $("#UserBirth").calendar({
            format: 'yyyy-MM-dd'
        });

        $("#UserSchoolTime").calendar({
            format: 'yyyy-MM-dd'
        });

        $("#UserWorkTime").calendar({
            format: 'yyyy-MM-dd'
        });

        $("#UserEngageTime").calendar({
            format: 'yyyy-MM-dd'
        });

        //        bindUploadify($("div[id='AdmAddteachers']", $("#PartailRegister")));

        onlyNum($("#Account", $("#PartailRegister")));
        onlyNum($("#UserLongPhone", $("#PartailRegister")));
        onlyNum($("#UserShortPhone", $("#PartailRegister")));
        onlyNum($("#UserQQNum", $("#PartailRegister")));
    });

    //    function uploadifyCallBack(response) {
    //        $("#ui_dialog").html(response);
    //        $('#ui_dialog').dialog({
    //            modal: true,
    //            show: 'blind',
    //            hide: 'explode',
    //            resizable: false,
    //            title: "提示"
    //        });
    //    }
</script>
@Html.ValidationSummary(true)
@using (Ajax.BeginForm("Register", "Adm", null, new AjaxOptions { UpdateTargetId = "releaseNews" }, new { id = "RegisterForm" }))
{
    <div id="PartailRegister">
        <table class="myTable" cellpadding="2px" cellspacing="2px">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Account)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Account, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.Account)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserName)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserSex)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.UserSex, ViewData["AllSexList"] as SelectList, new { @class = "text-long", style = "width:280px;" })
                    @Html.ValidationMessageFor(m => m.UserSex)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserBirth)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserBirth, new { @class = "runcode" })
                    @Html.ValidationMessageFor(m => m.UserBirth)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserNation)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserNation, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserNation)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Institute)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Institute, ViewData["AllInstituteList"] as SelectList, new { @class = "text-long", style = "width:280px;" })
                    @Html.ValidationMessageFor(m => m.Institute)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Department)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Department, ViewData["AllDepartmentList"] as SelectList, new { @class = "text-long", style = "width:280px;" })
                    @Html.ValidationMessageFor(m => m.Department)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserSchoolTime)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserSchoolTime, new { @class = "runcode" })
                    @Html.ValidationMessageFor(m => m.UserSchoolTime)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserWorkTime)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserWorkTime, new { @class = "runcode" })
                    @Html.ValidationMessageFor(m => m.UserWorkTime)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserSubject)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserSubject, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserSubject)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserMajor)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserMajor, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserMajor)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserResearch)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserResearch, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserResearch)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserTitle)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserTitle, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserTitle)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserTitleLevel)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserTitleLevel, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserTitleLevel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserEngageTime)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserEngageTime, new { @class = "runcode" })
                    @Html.ValidationMessageFor(m => m.UserEngageTime)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserIsDoubleTitle)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.UserIsDoubleTitle, ViewData["YesOrNo"] as SelectList, new { @class = "text-long", style = "width:280px;" })
                    @Html.ValidationMessageFor(m => m.UserIsDoubleTitle)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserLongPhone)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserLongPhone, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserLongPhone)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserShortPhone)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserShortPhone, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserShortPhone)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserMail)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserMail, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserMail)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserQQNum)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserQQNum, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.UserQQNum)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Remark)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Remark, new { @class = "text-long" })
                    @Html.ValidationMessageFor(m => m.Remark)
                </td>
            </tr>
            @*<tr>
                <td>
                    <div class="editor-label">
                        @Html.Hidden("UserType", "2")
                        <input type="submit" value="添加" />
                    </div>
                    <div class="editor-label">
                        @Html.Encode("请保证上传的老师的职工号和邮箱都是唯一的")
                    </div>
                    <div id="AdmAddteachers">
                        <div id="PartailUpload">
                            <input type="file" name="uploadify" id="uploadify" url="/Adm/RegisterByExcel" />
                            <div id="fileQueue" style="margin-bottom: 10px;">
                            </div>
                            <div>
                                <a href="javascript:$('#uploadify').uploadifyUpload()">上传</a>| <a href="javascript:$('#uploadify').uploadifyClearQueue()">
                                    取消</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>*@
        </table>
        <div class="button" style="padding-left: 210px;">
            @Html.Hidden("UserType", "2")
            <input type="submit" value="添加" />
        </div>
    </div>
}
